:root { 
--bluegray_50:#f1f1f1; 
--deep_orange_A100:#ff9490; 
--deep_orange_A101:#fda079; 
--red_200:#ff9c98; 
--red_400:#f24b46; 
--black_900_3f:#0000003f; 
--teal_300:#45d6a9; 
--deep_orange_300:#f9795a; 
--light_blue_A700:#0077ff; 
--red_A102:#ff938f; 
--red_A103:#ff7d78; 
--deep_orange_301:#fd8857; 
--deep_purple_A200:#8246f2; 
--pink_300:#f17497; 
--deep_orange_100:#ffb2af; 
--pink_100:#e8c3c7; 
--gray_600:#777777; 
--gray_601:#7c7c7c; 
--gray_400:#afafaf; 
--pink_50:#fbd9e3; 
--blue_700:#0c70e3; 
--blue_701:#0069e0; 
--gray_800:#393939; 
--lime_900:#804516; 
--deep_purple_50:#ecebfc; 
--bluegray_400:#878788; 
--blue_102:#c7d8f9; 
--blue_100:#b1c9f6; 
--blue_101:#c0d3f8; 
--white_A700:#ffffff; 
--indigo_800:#313b75; 
--deep_purple_100:#cfbbde; 
--black_900:#000000; 
--purple_A700:#8e00ff; 
--purple_801:#6518a8; 
--deep_orange_201:#ffa5a2; 
--deep_orange_200:#ffa09c; 
--purple_800:#6615b2; 
--purple_600:#7f22ba; 
--gray_901:#191b30; 
--indigo_52:#d7e3fb; 
--blue_800:#0058bd; 
--gray_902:#5c2b03; 
--indigo_53:#e3e0f8; 
--indigo_50:#e9e7fa; 
--red_A100:#ff8783; 
--gray_900:#0f1033; 
--indigo_51:#dfdcf7; 
--red_A101:#f78a87; 
--bluegray_100:#cdcdcd; 
--gray_100:#f6f6f8; 
--bluegray_900:#1f2c3b; 
--indigo_300:#7182b5; 
--bluegray_700:#3e477e; 
--black_900_72:#00000072; 
--bluegray_500:#6b6f8e; 
--blue_400:#469afa; 
--indigo_900:#242e6c; 
--indigo_901:#28326f; 
--bluegray_903:#1b2251; 
--bluegray_902:#1d2453; 
--bluegray_901:#222956; 
}